@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  html,
  body,
  #root {
    width: 100%;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
  }
}

.green-overlay {
  background: linear-gradient(180deg, rgba(49, 85, 55, 0) 0%, #315537 100%);
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge legacy */
* {
  -ms-overflow-style: none;
}
/* 
@keyframes scrollTextIn {
  from { opacity: 0; transform: translateY(18px); }
  to   { opacity: 1; transform: translateY(0);    }
}

.scroll-text-in {
  animation: scrollTextIn 0.55s cubic-bezier(0.22, 1, 0.36, 1) both;
} */